body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    width: 400px;
    height: 500px;
    border: 2px solid black;
    overflow: hidden;
    border-radius: 10px;
    background-color: black;
}
#input_bar{
    width: 100%;
    height: 80px;
    background-color: rgb(27, 27, 27);
    border: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}
#buttons-bar{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 5px;
    justify-content: center;
    justify-content: space-evenly;
}
button{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 5px;
    background-color: rgb(97, 97, 97);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.equalsto{
    background-color: orange;
}
.btn-black{
    background-color: rgb(54, 54, 54);
}
button:hover{
    background-color: grey;
}
button:active{
    background-color: darkgrey;
}
.equalsto:hover{
    background-color: darkorange;
}
.equalsto:active{
    background-color: white;
    color: black;
}